<nav class="navbar navbar-expand-lg header-1 header-2 scrolled-down border-bottom">
    <div class="container justify-content-start justify-content-md-between">
        <img alt="" src="/img/bars-invert.png" class="navbar-toggler bg-transparent d-none blue" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
        <img alt="" src="/img/bars.png" class="navbar-toggler bg-transparent white" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">

        <a class="navbar-brand scrolltop" href="/"><img alt="" src="/img/LOGO1.png" class="logo"></a>
        <a class="navbar-brand scrolldown" href="/"><img alt="" src="/img/onscroll.png" class="logo"></a>


        <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
            <ul class="navbar-nav text-capitalize mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a aria-current="page" class="nav-link active" href="/">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdownProducts" role="button" disabled>our products</a>
                    <ul aria-labelledby="navbarDropdownProducts" class="dropdown-menu px-2">
                        <li class="">
                            <a class="dropdown-item" href="/#prabhaav-loans">Prabhaav Loans</a>
                        </li>
                        <li class="dropend">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-item dropdown-toggle" href="#" id="retailPartnershipDropdown" role="button" disabled>Retail Partnership Loans</a>
                            <ul class="dropdown-menu px-2">
                                <li class="">
                                    <a class="dropdown-item" href="/partners">Our Partners</a>
                                </li>
                                <li class="dropend">
                                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-item dropdown-toggle" href="#" id="productsDropdown" role="button" disabled>Products</a>
                                    <ul class="dropdown-menu px-2">
                                        <li class="">
                                            <a class="dropdown-item" href="/#education-loan">Education Loan</a>
                                        </li>
                                        <li class="">
                                            <a class="dropdown-item" href="/#business-loan">Business Loan</a>
                                        </li>
                                        <li class="">
                                            <a class="dropdown-item" href="/#lap">LAP</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/#financial-institutions-loans">Financial Institutions Loans</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button" disabled>company</a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu px-2">
                        <li class="">
                            <a class="dropdown-item" href="/aboutus">about us</a>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/advisors">our advisors</a>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/promoters">our promoters</a>
                        </li>
                         <li class="">
                           <a class="dropdown-item" href="/partners">our partners</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-contact">
                    <a class="nav-link" href="/contactus">contact us</a>
                </li>
                <li class="nav-item dropdown dropdown-investor-relations">
                    <a aria-expanded="false" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdownInvestor" role="button" disabled>investor relations</a>
                    <ul aria-labelledby="navbarDropdownInvestor" class="dropdown-menu dropdown-menu-investor px-2">
                        <li class="">
                            <a class="dropdown-item" href="/financial-results">financial results</a>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/annual-report">annual report</a>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/corp-announcements">corp announcements</a>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/annual-return-ir">annual return</a>
                        </li>
                        <li class="">
                            <a class="dropdown-item" href="/credit-rating">credit rating</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
