<script src="https://code.jquery.com/jquery-1.12.4.js">
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js" integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/vendor/slick/slick.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>


<script src="https://www.google.com/recaptcha/api.js"></script>


    
    
    <script>
    // Robust dropdown system with nested dropdown support
    $(document).ready(function() {
        // Completely disable Bootstrap's dropdown behavior
        $('.navbar .dropdown-toggle').removeAttr('data-bs-toggle');
        
        // --- NEW DROPDOWN LOGIC ---
        
        var closeTimer;

        function openDropdown($element) {
            clearTimeout(closeTimer);
            // Close any open dropdowns that are not parents of the current element
            $('.dropdown-menu.show').not($element.parents('.dropdown-menu')).removeClass('show');
            $('.dropdown-toggle[aria-expanded="true"]').not($element.parents('.dropdown, .dropend').find('.dropdown-toggle')).attr('aria-expanded', 'false');

            // Open the current dropdown
            $element.find('> .dropdown-menu').addClass('show');
            $element.find('> .dropdown-toggle').attr('aria-expanded', 'true');
        }

        function closeDropdown($element) {
            closeTimer = setTimeout(function() {
                if (!$element.is(':hover') && !$element.find('.dropdown-menu').is(':hover')) {
                     $element.find('.dropdown-menu').removeClass('show');
                     $element.find('.dropdown-toggle').attr('aria-expanded', 'false');
                }
            }, 300);
        }

        if ($(window).width() > 992) {
            // Desktop hover behavior
            $('.navbar .dropdown').hover(function() {
                openDropdown($(this));
            }, function() {
                closeDropdown($(this));
            });
            
            $('.navbar .dropend').hover(function() {
                 $(this).siblings().find('.dropdown-menu').removeClass('show');
                 $(this).siblings().find('.dropdown-toggle').attr('aria-expanded', 'false');
                 openDropdown($(this));
            }, function() {
                 closeDropdown($(this));
            });

        } else {
            // Mobile click behavior
            $('.navbar .dropdown-toggle').on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                
                var $parent = $(this).parent();
                var $menu = $parent.find('> .dropdown-menu');

                if (!$menu.hasClass('show')) {
                    // Close sibling menus
                     $parent.siblings().find('.dropdown-menu').removeClass('show');
                     $parent.siblings().find('.dropdown-toggle').attr('aria-expanded', 'false');
                }

                $menu.toggleClass('show');
                $(this).attr('aria-expanded', $menu.hasClass('show'));
            });
        }

        // Close all dropdowns when clicking outside
        $(document).on('click', function(e) {
            if (!$(e.target).closest('.navbar').length) {
                $('.dropdown-menu.show').removeClass('show');
                 $('.dropdown-toggle[aria-expanded="true"]').attr('aria-expanded', 'false');
            }
        });
    });
    </script>
